.mapboxgl-canvas {
  outline: none;
}

.mapbox-logo {
  display: none;
}

/* prevent overlay between title and search bar */
.mapboxgl-ctrl-top-right {
  z-index: 20;
}

.mapboxgl-ctrl-group button {
  width: 36px;
  height: 36px;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder {
  margin-bottom: 3rem;
  margin-right: 1.5rem;
  padding: 0;
  font-family: 'Yoster-Island';
}

.mapboxgl-ctrl-bottom-right {
  max-width: 100px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 7px;
  width: 20px;
  height: 20px;
}

.mapboxgl-ctrl-geocoder--icon {
  top: 8px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 0;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 36px;
  min-width: 36px;
}

.mapboxgl-ctrl-geocoder {
  width: 33.3333%;
  font-size: 15px;
  line-height: 20px;
  max-width: 360px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 36px;
  padding: 6px 35px;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.mapboxgl-ctrl-attrib {
  display: none;
}
