@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yoster-Island';
  src: local('yoster-island.regular'),
    url(../public/fonts/yoster-island.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alice';
  src: local('Alice-Regular'),
    url(../public/fonts/Alice-Regular.ttf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Alice';
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

html {
  height: -webkit-fill-available;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background: white; /* WebKit/Blink Browsers */
  color: black;
}

.mapboxgl-canvas {
  outline: none;
}

.mapbox-logo {
  display: none;
}

/* prevent overlay between title and search bar */
.mapboxgl-ctrl-top-right {
  z-index: 20;
}

.mapboxgl-ctrl-group {
  border-radius: 0;
}

.mapboxgl-ctrl-group button {
  width: 36px;
  height: 36px;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  padding: 0;
  font-family: 'Yoster-Island';
}

.mapboxgl-ctrl-bottom-right {
  max-width: 100px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 0;
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 7px;
  width: 20px;
  height: 20px;
}

.mapboxgl-ctrl-geocoder--icon {
  top: 8px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 0;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 36px;
  min-width: 36px;
}

.mapboxgl-ctrl-geocoder {
  width: 33.3333%;
  font-size: 15px;
  line-height: 20px;
  max-width: 360px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 36px;
  padding: 6px 35px;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.mapboxgl-ctrl-attrib {
  display: none;
}
