@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yoster-Island';
  src: local('yoster-island.regular'),
    url(../public/fonts/yoster-island.regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alice';
  src: local('Alice-Regular'),
    url(../public/fonts/Alice-Regular.ttf) format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Alice';
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

html {
  height: -webkit-fill-available;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: white; /* WebKit/Blink Browsers */
  color: black;
}

.mapboxgl-canvas {
  outline: none;
}

.mapbox-logo {
  display: none;
}

/* prevent overlay between title and search bar */
.mapboxgl-ctrl-top-right {
  z-index: 20;
  mix-blend-mode: difference ;
}

.mapboxgl-ctrl-group {
  border-radius: 0;
}

.mapboxgl-ctrl-group button {
  width: 36px;
  height: 36px;
  background-color: black;
  border: 1px solid white;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  padding: 0;
  font-family: 'Yoster-Island';
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
}

svg.mapboxgl-ctrl-geocoder--icon {
  fill: #fff;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 22px;
  height: 22px;
}

.mapboxgl-ctrl-geocoder--input {
  color: white !important;
  height: 36px !important;
  padding: 0 36px !important;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: white !important;
  outline: none;
}

.suggestions-wrapper a{
  color:white !important;
  background-color:black !important;
}

.mapboxgl-ctrl-geocoder--icon-close{
  display: none !important;
}


.mapboxgl-ctrl-geocoder--button {
  background: black !important;
}



.mapboxgl-ctrl-bottom-right {
  max-width: 100px;
  mix-blend-mode: difference ;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 0;
}

.mapboxgl-ctrl-geocoder--icon-search {
  left: 7px;
  width: 20px;
  height: 20px;
}

.mapboxgl-ctrl-geocoder--icon {
  top: 8px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 0;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 36px !important;
  height: 36px;
  min-width: 36px !important;
}

.mapboxgl-ctrl-geocoder {
  height: 36px;
  width: 33.3333%;
  max-width: 360px;
}

.mapboxgl-ctrl-geocoder--input {
  height: 36px;
  padding: 6px 35px;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.mapboxgl-ctrl-attrib {
  display: none;
}
